.hole {
    background-color: #333;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.mole {
    background-color: red;
}

.whacked {
    background-color: green;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}