.gameContainer {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.gameData {
    background-color: #e44c9d7b;
    flex: 0 0 30%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playArea {
    background-color: #e44c9d7b;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.label {
    margin-bottom: 10px;
}

.status {
    margin-top: 20px;
}

.hole {
    background-color: white;
    border-color: pink;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}


.mole {
    /* Image Source: Pinterest (https://www.pinterest.es/pin/sticker-my-melody-kuromi--618541330096842303/) */
    background-image: url(images/mole.png);;
}

.whacked {
    /* Image Source: Sticker Mania (https://mystickermania.com/sticker-packs/anime/kuromi-crying) */
    background-image: url(images/whacked.png);;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}