.gameContainer {
    display: flex;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.gameData {
    background-color: #e44c9d7b;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playArea {
    background-color: #e44c9d7b;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.playArea {
    display: flex;
    margin-bottom: 20px;
}

.dino {
    width: 60px;
    height: 60px;
    left: 530px;
    background-image: url(images/dino.png); /* Image Credit: SquareSpace (https://www.pngall.com/keroppi-png/) */
    position: absolute;
    bottom: 0;
}

.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;    
    background-image: url(images/cactus.png); /* Image Credit: the original game's creator */
}

.game-over{
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: arial;
}

.background {
    position: relative;
    background: #fafafa;
    bottom: 0;
    background-image: url(images/background.png); /* Image Credit: the original game's creator */
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 223px;
}

.label {
    margin-bottom: 10px;
}

.status {
    margin-top: 20px;
}

/* slide the background to create the illusion of movements */
@keyframes slideright {
    from {
        background-position: 70000%;
    }

    to {
        background-position: 0;
    }
}