.container {
    display: flex;
    background-color: #e44c9d7b;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    flex-direction: column;
}

.image img {
    width: 1200px;
    height: auto;
    margin-right: 20px;
    margin-left: 50px;
}